@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-ThinItalic.otf") format("opentype");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-ExtraLight.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-ExtraLightItalic.otf") format("opentype");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-Regular.otf") format("opentype");
  font-weight: normal;
  /* 400 */
  font-style: normal;
}
@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-RegularItalic.otf") format("opentype");
  font-weight: normal;
  /* 400 */
  font-style: italic;
}
@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-DemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-DemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-Bold.otf") format("opentype");
  font-weight: bold;
  /* 700 */
  font-style: normal;
}
@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-BoldItalic.otf") format("opentype");
  font-weight: bold;
  /* 700 */
  font-style: italic;
}
@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-ExtraBold.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-ExtraBoldItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-Heavy.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "Cartograph CF";
  src: url("../fonts/CartographCF-HeavyItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

/* Basestyles */
body {
  font-family: "Cartograph CF", Arial, Helvetica, sans-serif;
  background-image: url("../content/bookshelf_tile.png");
  background-size: 302px 512px;
  background-position: 50%;
  background-repeat: repeat;
  background-attachment: fixed;
  position: relative;
  overflow-x: hidden;
}

.material-symbols-rounded {
  font-variation-settings:
    "FILL" 1,
    "wght" 700,
    "GRAD" 200,
    "opsz" 48;
}

/* FIXME: idk if the bug is with the navbar or the hamburger menu, but when you hover over an active item you can see the difference on the navbar but not the hamburger */

.top-bar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  background: rgba(69, 88, 113, 0.15);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.18);
  padding: 0 12px;
  height: 72px;
  border-bottom: 4px solid rgba(255, 255, 255, 0.15);
  border-left: 4px solid rgba(255, 255, 255, 0.15);
  border-right: 4px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(256px);
}

.top-bar a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 4pt 5pt;
  border-radius: 0 0 12px 12px;
  display: flex;
  flex-direction: column;
  transition:
    background 0.18s,
    color 0.18s;
  align-items: center;
  justify-content: center;
}

.top-bar a:hover {
  background: rgba(251, 160, 204, 0.16);
  color: #fba0cc;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(256px);
}

.top-bar a.active {
  color: #e069a9;
  background: rgba(224, 105, 169, 0.16);
}

.top-bar a i {
  font-size: 1.4rem;
  line-height: 1;
  margin: 4pt;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 56px;
  left: 16px;
  background: rgba(45, 58, 75, 0.15);
  border-radius: 24px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
  z-index: 30;
  min-width: 224px;
  padding: 1.5rem;
  gap: 0.75rem;
  align-items: flex-start;
  animation: fadeIn 0.18s;
  overflow: hidden;
  border: 4px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.hamburger-menu.open {
  display: flex;
}

.hamburger-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 16px;
  transition:
    background 0.18s,
    color 0.18s;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  min-height: 48px;
  height: 48px;
  line-height: 48px;
  padding: 0 1.5em;
  margin: 0;
}

.hamburger-menu a:hover {
  background: rgba(251, 160, 204, 0.16);
  color: #fba0cc;
}

.hamburger-menu a.active {
  color: #e069a9;
  background: rgba(224, 105, 169, 0.16);
}

.hamburger-menu a.material-symbols-rounded {
  font-size: 1.6em;
  margin: 0 0.7em 0 -0.7em;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

/* FIXME : hover effect on the hambrurger button */
.hamburger {
  display: none;
  position: fixed;
  top: 12px;
  left: 16px;
  background: rgba(45, 58, 75, 0.15);
  border-radius: 12px;
  z-index: 20;
  color: #fff;
  font-size: 2em;
  border: none;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background 0.18s,
    color 0.18s;
  border: 4px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.hamburger:hover,
.hamburger:focus {
  background: rgba(45, 58, 75, 0.15);
  border: 4px solid rgba(255, 255, 255, 0.15);
  color: #fff;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.hamburger.material-symbols-rounded {
  border-radius: 8px;
  transition:
    background 0.18s,
    color 0.18s;
  padding: 4px;
}

.hamburger:hover.material-symbols-rounded,
.hamburger:focus.material-symbols-rounded {
  background: rgba(251, 160, 204, 0.15);
  color: #fba0cc;
}

.hamburger.active.material-symbols-rounded {
  color: #e069a9;
  background: rgba(224, 105, 169, 0.12);
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 56px;
  left: 16px;
  background: rgba(45, 58, 75, 0.15);
  border-radius: 24px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
  z-index: 30;
  min-width: 224px;
  padding: 1.5rem;
  gap: 0.75rem;
  align-items: flex-start;
  animation: fadeIn 0.18s;
  overflow: hidden;
  border: 4px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.hamburger-menu.open {
  display: flex;
}

.hamburger-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 16px;
  transition:
    background 0.18s,
    color 0.18s;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  min-height: 48px;
  height: 48px;
  line-height: 48px;
  padding: 0 1.5em;
  margin: 0;
}

.hamburger-menu a:hover {
  background: rgba(251, 160, 204, 0.16);
  color: #fba0cc;
}

.hamburger-menu a.active {
  color: #e069a9;
  background: rgba(224, 105, 169, 0.16);
}

.hamburger-menu a.material-symbols-rounded {
  font-size: 1.6em;
  margin: 0 0.7em;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
}

.hamburger {
  display: none;
  position: fixed;
  top: 12px;
  left: 16px;
  background: rgba(45, 58, 75, 0.15);
  border-radius: 12px;
  z-index: 20;
  color: #fff;
  font-size: 2rem;
  border: none;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition:
    background 0.18s,
    color 0.18s;
  border: 4px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.hamburger:hover,
.hamburger:focus {
  background: rgba(45, 58, 75, 0.15);
  border: 4px solid rgba(255, 255, 255, 0.15);
  color: #fff;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.hamburger.material-symbols-rounded {
  border-radius: 8px;
  transition:
    background 0.18s,
    color 0.18s;
  padding: 4px;
}

.hamburger:hover.material-symbols-rounded,
.hamburger:focus.material-symbols-rounded {
  background: rgba(251, 160, 204, 0.18);
  color: #fba0cc;
}

.hamburger.active.material-symbols-rounded {
  color: #e069a9;
  background: rgba(224, 105, 169, 0.12);
}

.page-section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px) translateX(-50%);
  }

  to {
    opacity: 1;
    transform: translateY(0) translateX(-50%);
  }
}

@media (min-width: 513px) {
  .hamburger-menu {
    display: none !important;
  }

  .socials-row {
    display: none !important;
  }
}

@media (max-width: 512px) {
  .top-bar {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .socials-column {
    display: none !important;
  }
}

.button-group {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}

.socials-column {
  display: inline-flexbox;
  justify-content: flex;
  gap: 8px;
}

.button-primary,
.button-secondary,
.button-tertiary,
.button-threads,
.button-twitter,
.button-discord,
.button-instagram,
.button-youtube {
  border-radius: 16px;
  padding: 12px 12px;
  font-size: 1rem;
  cursor: pointer;
  border: 2px solid;
  transition:
    background 0.2s,
    color 0.2s,
    border 0.2s;
  font-family: "Cartograph CF", Arial, Helvetica, sans-serif;
  font-style: italic;
  text-transform: capitalize;
  margin-top: 8px;
}

.button-primary {
  background-color: #e069a9;
  color: #fff;
  border-color: #e069a9;
}

.button-primary:hover {
  background-color: transparent;
  color: #e069a9;
}

.button-secondary {
  background-color: #fba0cc;
  color: #fff;
  border-color: #fba0cc;
}

.button-secondary:hover {
  background-color: transparent;
  color: #fba0cc;
}

.button-tertiary {
  background-color: #fdd5f5;
  color: #fff;
  border-color: #fdd5f5;
}

.button-tertiary:hover {
  background-color: transparent;
  color: #fdd5f5;
}

.button-twitter {
  background-color: #1c9bf0;
  color: #fff;
  border-color: #1c9bf0;
}

.button-twitter:hover {
  background-color: transparent;
  color: #1c9bf0;
}

.button-discord {
  background-color: #5865f2;
  color: #fff;
  border-color: #5865f2;
}

.button-discord:hover {
  background-color: transparent;
  color: #5865f2;
}

.button-youtube {
  background-color: #ff0033;
  color: #fff;
  border-color: #ff0033;
}

.button-youtube:hover {
  background-color: transparent;
  color: #ff0033;
}

.button-instagram {
  background-color: #fe0075;
  color: #fff;
  border-color: #fe0075;
}

.button-instagram:hover {
  background-color: transparent;
  color: #fe0075;
}

.button-threads {
  background-color: #000000;
  color: #fff;
  border-color: #000000;
}

.button-threads:hover {
  background-color: transparent;
  color: #000000;
}

.hero-title {
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
  margin: 0;
  text-align: end;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: #fff;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  font-style: italic;
  text-align: end;
}

h2 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #fff;
  margin: 2rem 0 1rem;
  text-align: end;
}

.paragraph {
  background: rgba(45, 58, 75, 0.15);
  border-radius: 24px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
  padding: 1.5rem;
  border: 4px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  color: #fff;
  max-width: 600px;
  margin: 2rem auto;
}

.paragraph p {
  margin-top: 0;
  text-align: justify;
}

.paragraph a {
  display: inline-block;
  color: #fdd5f5;
  text-decoration: none;
}

.paragraph a:hover {
  color: #fba0cc;
}

.paragraph-socials {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  background: rgba(45, 58, 75, 0.15);
  border-radius: 24px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
  padding: 1.5rem;
  border: 4px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  color: #fff;
  max-width: 600px;
  margin: 2rem auto;
}

.paragraph-socials p {
  margin-top: 0;
  text-align: start;
  flex: 1;
}

.paragraph-socials .socials-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.socials-row {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.footer-section {
  min-height: 5vh;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 4px solid rgba(255, 255, 255, 0.15);
  color: #fff;
  text-align: center;
  font-size: 0.8rem;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  max-width: 100vw;
  margin: 0 auto;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.18);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
}

.footer-content a {
  color: #e069a9;
  text-decoration: none;
}

.footer-content a:hover {
  color: #fba0cc;
}
